/* Import de fontes */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/* Background principal */
*{
    margin: 0;
    padding: 0;
}

main{
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Fim background principal*/


/* Cabeçalho */
.banner img{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

#name-title{
    position: absolute;
    top: 36%;
    left: 30%;
    transition: translate(-50%,-50%);
    text-align: center;
    font-family: 'Chewy', cursive;
    color: rgb(255, 255, 255);
    font-size: 800%;
}

#name-title:hover{
    color: rgb(243, 208, 112);
}
/* Fim Cabeçalho */


/* Card Geral*/
.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 10%;
}

.card-info{
    color: white;
    text-align: center;
}

#title-card{
    font-family: 'VT323', monospace;
    font-size: 80px;
    letter-spacing: 10px;
    color: white;
}

#title-card:hover{
    color: rgb(243, 208, 112);
    font-size: 120px;
}

#text-card{
    font-family: sans-serif;
    font-size: 18px;
}

.about-me{
    margin-top: -28%;
    margin-left: 36%;
    width: 58%;
    letter-spacing: 1px;
}
/* Fim Card Geral*/


/* Card - About me */
#profilepic{
    margin-top: 2%;
    margin-left: 4%;
    width: 30%;
    height: 80%;
}
#videogame-icon{
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    width: 8%;
}
#logo-icon{
    width: 8%;
    padding: 6px;
}
#rs-title{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}
/* Fim Card - About me */

/* Card - Acadêmico */
.acad-info{
    background-color: rgba(105, 82, 131, 0.61);
    border-style: solid;
    margin-top: -20%;
    margin-left: 20%;
    text-align: center;
}
#title-small{
    font-family: 'VT323', monospace;
    font-size: 50px;
    letter-spacing: 10px;
}

#title-small:hover{
    color: rgb(243, 208, 112);
    font-size: 58px;
}

#book-icon{
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    width: 8%;
}
/* Fim Card - Acadêmico */

/* Portfolio */
#portfolio-title{
    font-family: 'VT323', monospace;
    font-size: 80px;
    letter-spacing: 10px;
    color: white;
    text-align: center;
}
/* Fim Portfolio */