/* Import de fontes */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/* Background principal */
*{
    margin: 0;
    padding: 0;
}

main{
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Fim background principal*/

/* Menu */
.nav{
    background-color: black;
    padding: 12px;
}

.nav-link{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.nav-link:hover{
    color: rgb(243, 208, 112);
}
/* Fim Menu */


/* Cabeçalho */
.banner img{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

#name-title{
    position: absolute;
    top: 44%;
    left: 32%;
    transition: translate(-50%,-50%);
    text-align: center;
    font-family: 'Chewy', cursive;
    color: rgb(255, 255, 255);
    font-size: 800%;
}

#name-title:hover{
    color: rgb(243, 208, 112);
}
/* Fim Cabeçalho */


/* Card Geral*/
.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 10%;
}

.card-info{
    color: white;
    text-align: center;
}

#title-card{
    font-family: 'VT323', monospace;
    font-size: 80px;
    letter-spacing: 10px;
    color: white;
}

#title-card:hover{
    color: rgb(243, 208, 112);
    font-size: 120px;
}

#text-card{
    font-family: sans-serif;
    font-size: 18px;
}

.about-me{
    margin-top: -28%;
    margin-left: 36%;
    width: 58%;
    letter-spacing: 1px;
}
/* Fim Card Geral*/


/* Card - About me */
#profilepic{
    margin-top: 2%;
    margin-left: 4%;
    width: 30%;
    height: 80%;
}
#videogame-icon{
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    width: 8%;
}
#logo-icon{
    width: 8%;
    padding: 6px;
}
#rs-title{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}
/* Fim Card - About me */

/* Card - Acadêmico */
.acad-info{
    background-color: rgba(105, 82, 131, 0.61);
    border-style: solid;
    margin-top: -20%;
    margin-left: 20%;
    text-align: center;
}
#title-small{
    font-family: 'VT323', monospace;
    font-size: 50px;
    letter-spacing: 10px;
}

#title-small:hover{
    color: rgb(243, 208, 112);
    font-size: 58px;
}

#book-icon{
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    width: 8%;
}
/* Fim Card - Acadêmico */

/* Portfolio */
.carousel-portfolio{
    border-color: rgba(235, 215, 104, 0.342);
    border-width: 1px;
    background-color: rgba(122, 113, 199, 0.384);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carousel-portfolio::-webkit-scrollbar{
    display: none;
}

.portfolio{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 12rem;
    flex-wrap: nowrap;
    flex-direction: row;
}

#portfolio-title{
    font-family: 'VT323', monospace;
    font-size: 80px;
    letter-spacing: 10px;
    color: white;
    text-align: center;
}

#portfolio-title:hover{
    color: rgb(243, 208, 112);
    font-size: 100px;
}

button img{
    width: 100px;
    cursor: pointer;
}

#button-customize{
    background-color: transparent;
    display: inline-block;
}

button:hover{
    opacity: 80%;
}

.portfolio-text-info{
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    width: 300px;
    font-weight: bold;
}

.conferir-btn{
    font-family: 'VT323', monospace;
    font-size: 26px;
}

.conferir-btn a button{
    margin-left: 64px;
    width: fit-content;
    border-color: #000000;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(150, 62, 223, 0.25);
    background-color: rgba(243, 208, 112, 0.904);
}

#portfolio-img{
    margin-top: -180px;
    margin-bottom: 10px;
    margin-left: -100px;
    width: 400px;
    border-radius: 10%;
    position: relative;
}

.portfolio-text{
    text-align: center;
    margin-left: -50px;
}

#portfolio-img-load{
    margin-top: -150px;
    margin-bottom: 20px;
    width: 200px;
    border-radius: 20%;
    position: relative;
}

.nxt-btn{
    transform: rotate(180deg);
    background-color: transparent;
}

.pre-btn{
    margin-left: 2%;
}
/* Fim Portfolio */